In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [2]:
cols = ['status', 'duration', 'credit_hist', 'purpose', 'credit_amt', 'savings', 'employment', 'installment_rate', 'personal_status', 'debtors', 'residencesince', 'property', 'age', 'install_plans', 'housing', 'existing_credits', 'job', 'maintenance_paying_people', 'telephone', 'foreign_worker', 'result']

In [3]:
df = pd.read_table('german.data', names=cols, sep=" ", index_col=False)

In [4]:
df.head()

,status,duration,credit_hist,purpose,credit_amt,savings,employment,installment_rate,personal_status,debtors,...,property,age,install_plans,housing,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [5]:
def preprocess_german(df): 
    df['status'] = df['status'].map({'A11': 0, 'A12': 1, 'A13': 2, 'A14': 3}).astype(int)
    df['credit_hist'] = df['credit_hist'].map({'A34': 0, 'A33': 1, 'A32': 2, 'A31': 3, 'A30': 4}).astype(int)
    df.loc[(df['credit_amt'] <= 2000), 'credit_amt'] = 0
    df.loc[(df['credit_amt'] > 2000) & (df['credit_amt'] <= 5000), 'credit_amt'] = 1
    df.loc[(df['credit_amt'] > 5000), 'credit_amt'] = 2   
    df.loc[(df['duration'] <= 12), 'duration'] = 0
    df.loc[(df['duration'] > 12) & (df['duration'] <= 24), 'duration'] = 1
    df.loc[(df['duration'] > 24) & (df['duration'] <= 36), 'duration'] = 2
    df.loc[(df['duration'] > 36), 'duration'] = 3
    df['age'] = df['age'].apply(lambda x : 1 if x >= 45 else 0) # 1 if old, 0 if young
    df['savings'] = df['savings'].map({'A61': 0, 'A62': 1, 'A63': 2, 'A64': 3, 'A65': 4}).astype(int)
    df['employment'] = df['employment'].map({'A71': 0, 'A72': 1, 'A73': 2, 'A74': 3, 'A75': 4}).astype(int)    
    df['gender'] = df['personal_status'].map({'A91': 1, 'A92': 0, 'A93': 1, 'A94': 1, 'A95': 0}).astype(int)
    df['debtors'] = df['debtors'].map({'A101': 0, 'A102': 1, 'A103': 2}).astype(int)
    df['property'] = df['property'].map({'A121': 3, 'A122': 2, 'A123': 1, 'A124': 0}).astype(int)        
    df['install_plans'] = df['install_plans'].map({'A141': 1, 'A142': 1, 'A143': 0}).astype(int)
    df['job'] = df['job'].map({'A171': 0, 'A172': 1, 'A173': 2, 'A174': 3}).astype(int)    
    df['telephone'] = df['telephone'].map({'A191': 0, 'A192': 1}).astype(int)
    df['foreign_worker'] = df['foreign_worker'].map({'A201': 1, 'A202': 0}).astype(int)
    pd.get_dummies(df, columns=['purpose', 'housing'], drop_first=True)
    
    return df

In [6]:
X = preprocess_german(df);

In [7]:
df.head()

,status,duration,credit_hist,purpose,credit_amt,savings,employment,installment_rate,personal_status,debtors,...,age,install_plans,housing,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
0,0,0,0,A43,0,4,4,4,A93,0,...,1,0,A152,2,2,1,1,1,1,1
1,1,3,2,A43,2,0,2,2,A92,0,...,0,0,A152,1,2,1,0,1,2,0
2,3,0,0,A46,1,0,3,2,A93,0,...,1,0,A152,1,1,2,0,1,1,1
3,0,3,2,A42,2,0,3,2,A93,2,...,1,0,A153,1,2,2,0,1,1,1
4,0,1,1,A40,1,0,2,3,A93,0,...,1,0,A153,2,2,2,0,1,2,1

In [8]:
df = df.drop(["purpose", "housing"], axis=1)

In [9]:
df = df.drop(["personal_status"], axis=1)

In [10]:
df.columns

Index(['status', 'duration', 'credit_hist', 'credit_amt', 'savings',
       'employment', 'installment_rate', 'debtors', 'residencesince',
       'property', 'age', 'install_plans', 'existing_credits', 'job',
       'maintenance_paying_people', 'telephone', 'foreign_worker', 'result',
       'gender'],
      dtype='object')

In [11]:
x = df[['status', 'duration', 'credit_hist', 'credit_amt', 'savings',
       'employment', 'installment_rate', 'debtors', 'residencesince',
       'property', 'age', 'install_plans', 'existing_credits', 'job',
       'maintenance_paying_people', 'telephone', 'foreign_worker',
       'gender']]

In [12]:
y = df[["result"]]

In [13]:
# groups_foreign_worker =  df.groupby(df['foreign_worker'])
# group_foreign_worker_0_df = groups_foreign_worker.get_group(0)

# rows_to_repeat1 = group_foreign_worker_0_df.iloc[[1]]
# rows_to_repeat2 = group_foreign_worker_0_df.iloc[[2]]
# rows_to_repeat3 = group_foreign_worker_0_df.iloc[[3]]
# rows_to_repeat4 = group_foreign_worker_0_df.iloc[[4]]
# rows_to_repeat5 = group_foreign_worker_0_df.iloc[[5]]

# df = pd.concat([rows_to_repeat5, rows_to_repeat1, rows_to_repeat2, rows_to_repeat3, rows_to_repeat4, df], ignore_index=True)

In [14]:
# groups_foreign_worker =  df.groupby(df['foreign_worker'])
# group_foreign_worker_0_df = groups_foreign_worker.get_group(0)

# rows_to_repeat1 = group_foreign_worker_0_df.iloc[[6]]
# rows_to_repeat2 = group_foreign_worker_0_df.iloc[[7]]
# rows_to_repeat3 = group_foreign_worker_0_df.iloc[[8]]
# rows_to_repeat4 = group_foreign_worker_0_df.iloc[[9]]
# rows_to_repeat5 = group_foreign_worker_0_df.iloc[[10]]

# df = pd.concat([rows_to_repeat5, rows_to_repeat1, rows_to_repeat2, rows_to_repeat3, rows_to_repeat4, df], ignore_index=True)

In [15]:
# groups_foreign_worker =  df.groupby(df['foreign_worker'])
# group_foreign_worker_0_df = groups_foreign_worker.get_group(0)

# rows_to_repeat1 = group_foreign_worker_0_df.iloc[[11]]
# rows_to_repeat2 = group_foreign_worker_0_df.iloc[[12]]
# rows_to_repeat3 = group_foreign_worker_0_df.iloc[[13]]
# rows_to_repeat4 = group_foreign_worker_0_df.iloc[[14]]
# rows_to_repeat5 = group_foreign_worker_0_df.iloc[[15]]

# df = pd.concat([rows_to_repeat5, rows_to_repeat1, rows_to_repeat2, rows_to_repeat3, rows_to_repeat4, df], ignore_index=True)

In [16]:
# groups_foreign_worker =  df.groupby(df['foreign_worker'])
# group_foreign_worker_0_df = groups_foreign_worker.get_group(0)

# rows_to_repeat1 = group_foreign_worker_0_df.iloc[[1]]
# rows_to_repeat2 = group_foreign_worker_0_df.iloc[[2]]
# rows_to_repeat3 = group_foreign_worker_0_df.iloc[[3]]
# rows_to_repeat4 = group_foreign_worker_0_df.iloc[[4]]
# rows_to_repeat5 = group_foreign_worker_0_df.iloc[[5]]

# df = pd.concat([rows_to_repeat5, rows_to_repeat1, rows_to_repeat2, rows_to_repeat3, rows_to_repeat4, df], ignore_index=True)

In [17]:
# new_rows1 = pd.DataFrame({
#     'status': [3],
#     'duration': [0],
#     'credit_hist': [0],
#     'credit_amt': [1],
#     'savings': [4],
#     'employment': [2],
#     'installment_rate': [2],
#     'debtors': [0],
#     'residencesince': [1],
#     'property': [1],
#     'age': [0],
#     'install_plans': [0],
#     'existing_credits': [2],
#     'job': [2],
#     'maintenance_paying_people': [1],
#     'telephone': [0],
#     'foreign_worker': [0],
#     'gender': [1]
# })

# new_rows2 = pd.DataFrame({
#     'status': [0],
#     'duration': [0],
#     'credit_hist': [0],
#     'credit_amt': [0],
#     'savings': [1],
#     'employment': [4],
#     'installment_rate': [3],
#     'debtors': [2],
#     'residencesince': [4],
#     'property': [3],
#     'age': [1],
#     'install_plans': [0],
#     'existing_credits': [2],
#     'job': [2],
#     'maintenance_paying_people': [2],
#     'telephone': [0],
#     'foreign_worker': [0],
#     'gender': [1]
# })

# new_rows3 = pd.DataFrame({
#     'status': [1],
#     'duration': [0],
#     'credit_hist': [0],
#     'credit_amt': [1],
#     'savings': [3],
#     'employment': [1],
#     'installment_rate': [2],
#     'debtors': [1],
#     'residencesince': [4],
#     'property': [2],
#     'age': [1],
#     'install_plans': [0],
#     'existing_credits': [2],
#     'job': [2],
#     'maintenance_paying_people': [1],
#     'telephone': [0],
#     'foreign_worker': [0],
#     'gender': [1]
# })


# new_rows4 = pd.DataFrame({
#     'status': [0],
#     'duration': [2],
#     'credit_hist': [1],
#     'credit_amt': [2],
#     'savings': [4],
#     'employment': [2],
#     'installment_rate': [1],
#     'debtors': [0],
#     'residencesince': [4],
#     'property': [3],
#     'age': [0],
#     'install_plans': [0],
#     'existing_credits': [1],
#     'job': [2],
#     'maintenance_paying_people': [1],
#     'telephone': [1],
#     'foreign_worker': [0],
#     'gender': [0]
# })


# new_rows5 = pd.DataFrame({
#     'status': [3],
#     'duration': [0],
#     'credit_hist': [0],
#     'credit_amt': [1],
#     'savings': [4],
#     'employment': [2],
#     'installment_rate': [2],
#     'debtors': [0],
#     'residencesince': [1],
#     'property': [1],
#     'age': [0],
#     'install_plans': [0],
#     'existing_credits': [2],
#     'job': [2],
#     'maintenance_paying_people': [1],
#     'telephone': [0],
#     'foreign_worker': [0],
#     'gender': [1]
# })


# new_rows6 = pd.DataFrame({
#     'status': [0],
#     'duration': [0],
#     'credit_hist': [0],
#     'credit_amt': [0],
#     'savings': [1],
#     'employment': [4],
#     'installment_rate': [3],
#     'debtors': [2],
#     'residencesince': [4],
#     'property': [3],
#     'age': [1],
#     'install_plans': [0],
#     'existing_credits': [2],
#     'job': [2],
#     'maintenance_paying_people': [2],
#     'telephone': [0],
#     'foreign_worker': [0],
#     'gender': [1]
# })

# # concatenate the original dataframe with the new rows
# df = pd.concat([df, new_rows1, new_rows2, new_rows3, new_rows4, new_rows5, new_rows6], ignore_index=True)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=15)

In [19]:
# #Add data points to x_train and y_train

# groups_foreign_worker =  df.groupby(['foreign_worker', 'gender'])
# group_foreign_worker_0_df = groups_foreign_worker.get_group((0,0))

# y_foreign0 = group_foreign_worker_0_df[['result']]

# x_foreign0 = group_foreign_worker_0_df.drop(["result"], axis=1)

In [20]:
#Add data points to x_train and y_train

groups_foreign_worker =  df.groupby(['foreign_worker', 'telephone'])
group_foreign_worker0_telephone1_df = groups_foreign_worker.get_group((0,1))

y_foreign0 = group_foreign_worker0_telephone1_df[['result']]

x_foreign0 = group_foreign_worker0_telephone1_df.drop(["result"], axis=1)

In [21]:
group_foreign_worker0_telephone1_df.shape[0]

5

In [22]:
#Add data points to x_train and y_train

x1 = x_foreign0.iloc[[1]]
x2 = x_foreign0.iloc[[2]]
x3 = x_foreign0.iloc[[3]]
x4 = x_foreign0.iloc[[4]]
x5 = x_foreign0.iloc[[0]]

y1 = y_foreign0.iloc[[1]]
y2 = y_foreign0.iloc[[2]]
y3 = y_foreign0.iloc[[3]]
y4 = y_foreign0.iloc[[4]]
y5 = y_foreign0.iloc[[0]]


x13 = x_foreign0.iloc[[1]]
x14 = x_foreign0.iloc[[2]]


y13 = y_foreign0.iloc[[1]]
y14 = y_foreign0.iloc[[2]]


x_train = pd.concat([x1, x2, x3, x4, x5, x13, x14, x_train], ignore_index=True)
y_train = pd.concat([y1, y2, y3, y4, y5, y13, y14, y_train], ignore_index=True)

In [23]:
#Add data points to x_train and y_train

# x6 = x_foreign0.iloc[[6]]
# x7 = x_foreign0.iloc[[7]]
# x8 = x_foreign0.iloc[[8]]
# x9 = x_foreign0.iloc[[9]]
# x10 = x_foreign0.iloc[[10]]

# y6 = y_foreign0.iloc[[6]]
# y7 = y_foreign0.iloc[[7]]
# y8 = y_foreign0.iloc[[8]]
# y9 = y_foreign0.iloc[[9]]
# y10 = y_foreign0.iloc[[10]]

# x16 = x_foreign0.iloc[[16]]
# x17 = x_foreign0.iloc[[17]]
# x18 = x_foreign0.iloc[[18]]
# x19 = x_foreign0.iloc[[19]]
# x20 = x_foreign0.iloc[[20]]

# y16 = y_foreign0.iloc[[16]]
# y17 = y_foreign0.iloc[[17]]
# y18 = y_foreign0.iloc[[18]]
# y19 = y_foreign0.iloc[[19]]
# y20 = y_foreign0.iloc[[20]]


# x_train = pd.concat([x6, x7, x8, x9, x10, x16, x17, x18, x19, x20, x_train], ignore_index=True)
# y_train = pd.concat([y6, y7, y8, y9, y10, y16, y17, y18, y19, y20, y_train], ignore_index=True)

In [24]:
x_train.columns

Index(['status', 'duration', 'credit_hist', 'credit_amt', 'savings',
       'employment', 'installment_rate', 'debtors', 'residencesince',
       'property', 'age', 'install_plans', 'existing_credits', 'job',
       'maintenance_paying_people', 'telephone', 'foreign_worker', 'gender'],
      dtype='object')

In [25]:
df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
0,0,0,0,0,4,4,4,0,4,3,1,0,2,2,1,1,1,1,1
1,1,3,2,2,0,2,2,0,2,3,0,0,1,2,1,0,1,2,0
2,3,0,0,1,0,3,2,0,3,3,1,0,1,1,2,0,1,1,1
3,0,3,2,2,0,3,2,2,4,2,1,0,1,2,2,0,1,1,1
4,0,1,1,1,0,2,3,0,4,0,1,0,2,2,2,0,1,2,1

In [26]:
df.shape[0]

1000

In [27]:
logistic_model = LogisticRegression()

In [28]:
logistic_model = LogisticRegression()

In [29]:
y.head()

   result
0       1
1       2
2       1
3       1
4       2

In [30]:
x_train

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,gender
0,3,0,2,0,0,2,1,0,4,2,0,0,1,2,1,1,0,1
1,0,1,2,2,0,4,1,0,4,2,1,0,1,3,1,1,0,1
2,3,0,2,0,0,2,2,0,2,3,0,0,1,2,1,1,0,1
3,1,3,4,2,0,2,1,0,2,2,0,1,1,3,1,1,0,0
4,0,1,2,2,4,1,1,0,2,2,0,0,1,2,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,1,3,2,2,0,2,2,0,2,1,0,0,1,2,1,1,1,1
703,3,2,1,2,4,1,4,0,4,1,0,0,2,2,1,1,1,1
704,3,1,1,1,0,1,1,0,2,2,1,0,2,1,1,0,1,0
705,2,1,0,0,4,2,3,0,4,0,0,0,2,2,1,1,1,1
706,0,0,0,1,0,2,2,0,2,3,0,0,2,2,2,0,1,1

In [31]:
logistic_model.fit(x_train, y_train.values.ravel())

LogisticRegression()

In [32]:
y_pred = logistic_model.predict(x_test)

In [33]:
y_pred_prob = logistic_model.predict_proba(x_test)

In [34]:
y_pred_prob

array([[0.57668634, 0.42331366],
       [0.18772917, 0.81227083],
       [0.95364757, 0.04635243],
       [0.81934288, 0.18065712],
       [0.72783286, 0.27216714],
       [0.93335974, 0.06664026],
       [0.79989719, 0.20010281],
       [0.13504948, 0.86495052],
       [0.33146883, 0.66853117],
       [0.31547263, 0.68452737],
       [0.76390631, 0.23609369],
       [0.86627537, 0.13372463],
       [0.24471837, 0.75528163],
       [0.53903862, 0.46096138],
       [0.5732234 , 0.4267766 ],
       [0.88024094, 0.11975906],
       [0.88622602, 0.11377398],
       [0.58459435, 0.41540565],
       [0.82993607, 0.17006393],
       [0.95856005, 0.04143995],
       [0.29685584, 0.70314416],
       [0.86490901, 0.13509099],
       [0.50951285, 0.49048715],
       [0.59252263, 0.40747737],
       [0.89096156, 0.10903844],
       [0.92445902, 0.07554098],
       [0.82190707, 0.17809293],
       [0.88206116, 0.11793884],
       [0.94228278, 0.05771722],
       [0.71784154, 0.28215846],
       [0.90819901, 0.09180099],
       [0.90629161, 0.09370839],
       [0.84370321, 0.15629679],
       [0.81242832, 0.18757168],
       [0.90197799, 0.09802201],
       [0.52493583, 0.47506417],
       [0.46238874, 0.53761126],
       [0.84163094, 0.15836906],
       [0.49810071, 0.50189929],
       [0.83369584, 0.16630416],
       [0.6073652 , 0.3926348 ],
       [0.78926719, 0.21073281],
       [0.40548469, 0.59451531],
       [0.87730559, 0.12269441],
       [0.18446207, 0.81553793],
       [0.93859026, 0.06140974],
       [0.32538652, 0.67461348],
       [0.94471536, 0.05528464],
       [0.59993983, 0.40006017],
       [0.23567733, 0.76432267],
       [0.81958176, 0.18041824],
       [0.95292639, 0.04707361],
       [0.84869241, 0.15130759],
       [0.86245843, 0.13754157],
       [0.65836853, 0.34163147],
       [0.75254299, 0.24745701],
       [0.51803776, 0.48196224],
       [0.8330919 , 0.1669081 ],
       [0.81280799, 0.18719201],
       [0.45877588, 0.54122412],
       [0.88181173, 0.11818827],
       [0.94484792, 0.05515208],
       [0.37960958, 0.62039042],
       [0.93566472, 0.06433528],
       [0.95237945, 0.04762055],
       [0.95951162, 0.04048838],
       [0.55587646, 0.44412354],
       [0.78081264, 0.21918736],
       [0.60961598, 0.39038402],
       [0.27471442, 0.72528558],
       [0.82823969, 0.17176031],
       [0.38348983, 0.61651017],
       [0.94137862, 0.05862138],
       [0.92983736, 0.07016264],
       [0.56737489, 0.43262511],
       [0.61518061, 0.38481939],
       [0.96777551, 0.03222449],
       [0.7624941 , 0.2375059 ],
       [0.33671331, 0.66328669],
       [0.32090907, 0.67909093],
       [0.34470338, 0.65529662],
       [0.40620186, 0.59379814],
       [0.57473705, 0.42526295],
       [0.39338335, 0.60661665],
       [0.87582915, 0.12417085],
       [0.83217056, 0.16782944],
       [0.79408283, 0.20591717],
       [0.96776644, 0.03223356],
       [0.52126772, 0.47873228],
       [0.73270868, 0.26729132],
       [0.31874252, 0.68125748],
       [0.19045384, 0.80954616],
       [0.57159905, 0.42840095],
       [0.94977266, 0.05022734],
       [0.40679594, 0.59320406],
       [0.36969707, 0.63030293],
       [0.59573267, 0.40426733],
       [0.92703306, 0.07296694],
       [0.35160095, 0.64839905],
       [0.75227965, 0.24772035],
       [0.55997607, 0.44002393],
       [0.88323446, 0.11676554],
       [0.76184131, 0.23815869],
       [0.35831671, 0.64168329],
       [0.32952298, 0.67047702],
       [0.91800909, 0.08199091],
       [0.48315768, 0.51684232],
       [0.61637216, 0.38362784],
       [0.89197433, 0.10802567],
       [0.82630516, 0.17369484],
       [0.94785538, 0.05214462],
       [0.73560606, 0.26439394],
       [0.88499192, 0.11500808],
       [0.86197709, 0.13802291],
       [0.61003772, 0.38996228],
       [0.49629761, 0.50370239],
       [0.93811655, 0.06188345],
       [0.96162564, 0.03837436],
       [0.53343515, 0.46656485],
       [0.52067086, 0.47932914],
       [0.74126115, 0.25873885],
       [0.96103164, 0.03896836],
       [0.85079155, 0.14920845],
       [0.85923214, 0.14076786],
       [0.50237151, 0.49762849],
       [0.24503929, 0.75496071],
       [0.69550172, 0.30449828],
       [0.82280417, 0.17719583],
       [0.89248241, 0.10751759],
       [0.84177094, 0.15822906],
       [0.36925861, 0.63074139],
       [0.16637714, 0.83362286],
       [0.58908294, 0.41091706],
       [0.98210022, 0.01789978],
       [0.93794619, 0.06205381],
       [0.78243679, 0.21756321],
       [0.89125861, 0.10874139],
       [0.73624538, 0.26375462],
       [0.90348829, 0.09651171],
       [0.80369757, 0.19630243],
       [0.66555703, 0.33444297],
       [0.83635421, 0.16364579],
       [0.43799544, 0.56200456],
       [0.8956639 , 0.1043361 ],
       [0.94795713, 0.05204287],
       [0.7123461 , 0.2876539 ],
       [0.48672551, 0.51327449],
       [0.52605896, 0.47394104],
       [0.7936273 , 0.2063727 ],
       [0.86463878, 0.13536122],
       [0.47034061, 0.52965939],
       [0.92728117, 0.07271883],
       [0.57338251, 0.42661749],
       [0.81028773, 0.18971227],
       [0.92667147, 0.07332853],
       [0.87453447, 0.12546553],
       [0.47783193, 0.52216807],
       [0.92701884, 0.07298116],
       [0.28684846, 0.71315154],
       [0.3806036 , 0.6193964 ],
       [0.77863333, 0.22136667],
       [0.87519433, 0.12480567],
       [0.96110524, 0.03889476],
       [0.56810981, 0.43189019],
       [0.42031366, 0.57968634],
       [0.90034545, 0.09965455],
       [0.58981747, 0.41018253],
       [0.86046308, 0.13953692],
       [0.58852995, 0.41147005],
       [0.91703721, 0.08296279],
       [0.87540756, 0.12459244],
       [0.91605132, 0.08394868],
       [0.71301176, 0.28698824],
       [0.95358769, 0.04641231],
       [0.66554986, 0.33445014],
       [0.86818276, 0.13181724],
       [0.75342517, 0.24657483],
       [0.82539502, 0.17460498],
       [0.82474183, 0.17525817],
       [0.96003175, 0.03996825],
       [0.54191921, 0.45808079],
       [0.26928291, 0.73071709],
       [0.40295981, 0.59704019],
       [0.94667193, 0.05332807],
       [0.71721755, 0.28278245],
       [0.84437655, 0.15562345],
       [0.78091029, 0.21908971],
       [0.8617942 , 0.1382058 ],
       [0.69018286, 0.30981714],
       [0.70279814, 0.29720186],
       [0.70851401, 0.29148599],
       [0.86073855, 0.13926145],
       [0.82386021, 0.17613979],
       [0.86772677, 0.13227323],
       [0.63502595, 0.36497405],
       [0.9000673 , 0.0999327 ],
       [0.93170877, 0.06829123],
       [0.86200312, 0.13799688],
       [0.67301909, 0.32698091],
       [0.93045305, 0.06954695],
       [0.48438859, 0.51561141],
       [0.77670985, 0.22329015],
       [0.51522941, 0.48477059],
       [0.47520969, 0.52479031],
       [0.84562863, 0.15437137],
       [0.41396839, 0.58603161],
       [0.75778478, 0.24221522],
       [0.85048605, 0.14951395],
       [0.30557742, 0.69442258],
       [0.64049744, 0.35950256],
       [0.59091762, 0.40908238],
       [0.36854426, 0.63145574],
       [0.89475299, 0.10524701],
       [0.70577705, 0.29422295],
       [0.72457256, 0.27542744],
       [0.60533153, 0.39466847],
       [0.22104944, 0.77895056],
       [0.43931122, 0.56068878],
       [0.43379747, 0.56620253],
       [0.19455633, 0.80544367],
       [0.85991956, 0.14008044],
       [0.87013834, 0.12986166],
       [0.07923537, 0.92076463],
       [0.97914586, 0.02085414],
       [0.14719015, 0.85280985],
       [0.35778659, 0.64221341],
       [0.67371905, 0.32628095],
       [0.25747916, 0.74252084],
       [0.35680913, 0.64319087],
       [0.56926224, 0.43073776],
       [0.54700296, 0.45299704],
       [0.94885416, 0.05114584],
       [0.36435214, 0.63564786],
       [0.88634268, 0.11365732],
       [0.80352108, 0.19647892],
       [0.09461899, 0.90538101],
       [0.95006612, 0.04993388],
       [0.71237165, 0.28762835],
       [0.90928287, 0.09071713],
       [0.43442787, 0.56557213],
       [0.93148999, 0.06851001],
       [0.69866213, 0.30133787],
       [0.47034136, 0.52965864],
       [0.34110143, 0.65889857],
       [0.87991975, 0.12008025],
       [0.55427187, 0.44572813],
       [0.59248279, 0.40751721],
       [0.76192809, 0.23807191],
       [0.86515728, 0.13484272],
       [0.7821886 , 0.2178114 ],
       [0.92891717, 0.07108283],
       [0.73737027, 0.26262973],
       [0.21499595, 0.78500405],
       [0.35411537, 0.64588463],
       [0.73230439, 0.26769561],
       [0.24118921, 0.75881079],
       [0.76986905, 0.23013095],
       [0.71187702, 0.28812298],
       [0.93912382, 0.06087618],
       [0.85419091, 0.14580909],
       [0.89815473, 0.10184527],
       [0.75383379, 0.24616621],
       [0.28009032, 0.71990968],
       [0.70540273, 0.29459727],
       [0.8659362 , 0.1340638 ],
       [0.95257758, 0.04742242],
       [0.90384855, 0.09615145],
       [0.55990979, 0.44009021],
       [0.45096609, 0.54903391],
       [0.84429938, 0.15570062],
       [0.9520298 , 0.0479702 ],
       [0.6934771 , 0.3065229 ],
       [0.93763592, 0.06236408],
       [0.54228012, 0.45771988],
       [0.46722829, 0.53277171],
       [0.3371079 , 0.6628921 ],
       [0.2836791 , 0.7163209 ],
       [0.92530704, 0.07469296],
       [0.54571759, 0.45428241],
       [0.87791064, 0.12208936],
       [0.78668259, 0.21331741],
       [0.43781357, 0.56218643],
       [0.74467674, 0.25532326],
       [0.71648251, 0.28351749],
       [0.97177254, 0.02822746],
       [0.70261139, 0.29738861],
       [0.95679488, 0.04320512],
       [0.56698226, 0.43301774],
       [0.94982815, 0.05017185],
       [0.83594944, 0.16405056],
       [0.46688742, 0.53311258],
       [0.87390851, 0.12609149],
       [0.86553401, 0.13446599],
       [0.74195542, 0.25804458],
       [0.5874279 , 0.4125721 ],
       [0.64899125, 0.35100875],
       [0.74252546, 0.25747454],
       [0.86039376, 0.13960624],
       [0.9029902 , 0.0970098 ],
       [0.86057733, 0.13942267]])

In [35]:
accuracy_score(y_test, y_pred)

0.7566666666666667

In [36]:
x_test.iloc[0]

status                       0
duration                     1
credit_hist                  0
credit_amt                   0
savings                      0
employment                   4
installment_rate             4
debtors                      0
residencesince               3
property                     1
age                          0
install_plans                0
existing_credits             2
job                          2
maintenance_paying_people    1
telephone                    1
foreign_worker               1
gender                       1
Name: 825, dtype: int64

In [37]:
groups_age =  df.groupby(df['age'])

In [38]:
protected_group_age_df = groups_age.get_group(1)

In [39]:
protected_group_age_df.iloc[1]
# According to the result it shows that the division is done correctly as age is coming as 1 for protected group

status                       3
duration                     0
credit_hist                  0
credit_amt                   1
savings                      0
employment                   3
installment_rate             2
debtors                      0
residencesince               3
property                     3
age                          1
install_plans                0
existing_credits             1
job                          1
maintenance_paying_people    2
telephone                    0
foreign_worker               1
result                       1
gender                       1
Name: 2, dtype: int64

In [40]:
non_protected_group_age_df = groups_age.get_group(0)

In [41]:
non_protected_group_age_df.iloc[1]
# According to the result it shows that the division is done correctly as age is coming as 0 for non-protected group

status                       3
duration                     2
credit_hist                  2
credit_amt                   2
savings                      4
employment                   2
installment_rate             2
debtors                      0
residencesince               4
property                     0
age                          0
install_plans                0
existing_credits             1
job                          1
maintenance_paying_people    2
telephone                    1
foreign_worker               1
result                       1
gender                       1
Name: 5, dtype: int64

In [42]:
y_pred = logistic_model.predict(x_test)

In [43]:
y_pred

array([1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1,
       2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2,
       1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [44]:
# There are various fairness metrics defined in the 'Fairness Definitions Explained' paper based on the predicted probabilities and actual outcome

# 1. Test fairness -> P(Y=1|S=s, G=m) = P(Y=1|S=s, G=f), which can be used for age(protected and non-protected classes)
# 2. Well-calibration -> P(Y=1|S=s, G=m) = P(Y=1|S=s, G=f) = s, which can be used for age(protected and non-protected classes)
# 3. Balance for positive class -> E(S|Y=1,G=m) = E(S|Y=1,G=f), which can be used for age(protected and non-protected classes)
# 4. Balance for negative class -> E(S|Y=0,G=m) = E(S|Y=0,G=f), which can be used for age(protected and non-protected classes)

In [45]:
# Now, we need to find the P(ŷ = 1 | y = 1, G = 0) and P(ŷ = 1 | y = 1, G = 1) as G is the sensitive attribute here

In [46]:
# Find the average y_pred_proba where the actual outcome Y = 1 for the divided groups

In [47]:
non_protected_group_age_df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
1,1,3,2,2,0,2,2,0,2,3,0,0,1,2,1,0,1,2,0
5,3,2,2,2,4,2,2,0,4,0,0,0,1,1,2,1,1,1,1
7,1,2,2,2,0,2,2,0,2,1,0,0,1,3,1,1,1,1,1
9,1,2,0,2,0,0,4,0,2,1,0,0,2,3,1,0,1,2,1
10,1,0,2,0,0,1,3,0,1,1,0,0,1,2,1,0,1,2,0

In [48]:
non_protected_group_age_credresult_1_df = non_protected_group_age_df.groupby(non_protected_group_age_df['result']).get_group(1)

In [49]:
non_protected_group_age_credresult_1_df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
5,3,2,2,2,4,2,2,0,4,0,0,0,1,1,2,1,1,1,1
7,1,2,2,2,0,2,2,0,2,1,0,0,1,3,1,1,1,1,1
12,1,0,2,0,0,2,1,0,1,1,0,0,1,2,1,1,1,1,0
14,0,1,2,0,0,2,2,0,4,1,0,0,1,2,1,0,1,1,0
17,0,2,4,2,4,1,2,0,3,1,0,1,3,2,1,0,1,1,1

In [50]:
#Drop the result column as the logistic regression model will accept 18 columns as input.
non_protected_group_age_credresult_1_df = non_protected_group_age_credresult_1_df.drop(["result"], axis=1)

In [51]:
# Need to find the predictive probability for the dataframe and then finally find the average
y_pred_non_protected_group_age_credresult_1 = logistic_model.predict(non_protected_group_age_credresult_1_df)

In [52]:
non_protected_group_age_credresult_1_df

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,gender
5,3,2,2,2,4,2,2,0,4,0,0,0,1,1,2,1,1,1
7,1,2,2,2,0,2,2,0,2,1,0,0,1,3,1,1,1,1
12,1,0,2,0,0,2,1,0,1,1,0,0,1,2,1,1,1,0
14,0,1,2,0,0,2,2,0,4,1,0,0,1,2,1,0,1,0
17,0,2,4,2,4,1,2,0,3,1,0,1,3,2,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,0,2,2,1,0,0,4,0,3,2,0,0,1,3,1,1,1,1
995,3,0,2,0,0,3,3,0,4,3,0,0,1,1,1,0,1,0
996,0,2,2,1,0,2,4,0,4,2,0,0,1,3,1,1,1,1
997,3,0,2,0,0,4,4,0,4,1,0,0,1,2,1,0,1,1
999,1,3,0,1,1,0,3,0,4,1,0,0,1,2,1,0,1,1

In [53]:
y_pred_non_protected_group_age_credresult_1

array([1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1],
      dtype=int64)

In [54]:
#avergae predicted probability came out to be 0.879781 for non protected group

In [55]:
protected_group_age_df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
0,0,0,0,0,4,4,4,0,4,3,1,0,2,2,1,1,1,1,1
2,3,0,0,1,0,3,2,0,3,3,1,0,1,1,2,0,1,1,1
3,0,3,2,2,0,3,2,2,4,2,1,0,1,2,2,0,1,1,1
4,0,1,1,1,0,2,3,0,4,0,1,0,2,2,2,0,1,2,1
6,3,1,2,1,2,4,3,0,4,2,1,0,1,2,1,0,1,1,1

In [56]:
protected_group_age_credresult_1_df = protected_group_age_df.groupby(protected_group_age_df['result']).get_group(1)

In [57]:
#Drop the result column as the logistic regression model will accept 18 columns as input.
protected_group_age_credresult_1_df = protected_group_age_credresult_1_df.drop(["result"], axis=1)

In [58]:
# Need to find the predict probability for the dataframe and then finally find the average
y_pred_protected_group_age_credresult_1 = logistic_model.predict(protected_group_age_credresult_1_df)

In [59]:
y_pred_protected_group_age_credresult_1

array([1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [60]:
#avergae predicted probability came out to be 0.92053 for protected group

In [61]:
# Need to find the predict probability for the dataframe and then finally find the average
y_pred_protected_group_age_credresult_1 = logistic_model.predict_proba(protected_group_age_credresult_1_df)

In [62]:
y_pred_protected_group_age_credresult_1

array([[0.87145086, 0.12854914],
       [0.95753651, 0.04246349],
       [0.38348983, 0.61651017],
       [0.91755495, 0.08244505],
       [0.96777551, 0.03222449],
       [0.9589204 , 0.0410796 ],
       [0.89815473, 0.10184527],
       [0.78659616, 0.21340384],
       [0.97925811, 0.02074189],
       [0.93823975, 0.06176025],
       [0.81319224, 0.18680776],
       [0.98259003, 0.01740997],
       [0.50623729, 0.49376271],
       [0.58965585, 0.41034415],
       [0.81280799, 0.18719201],
       [0.87793041, 0.12206959],
       [0.61637216, 0.38362784],
       [0.64899125, 0.35100875],
       [0.94667193, 0.05332807],
       [0.73270868, 0.26729132],
       [0.86627537, 0.13372463],
       [0.97002591, 0.02997409],
       [0.949423  , 0.050577  ],
       [0.8769073 , 0.1230927 ],
       [0.64748399, 0.35251601],
       [0.92983736, 0.07016264],
       [0.94464376, 0.05535624],
       [0.87261735, 0.12738265],
       [0.41367916, 0.58632084],
       [0.54551592, 0.45448408],
       [0.74842013, 0.25157987],
       [0.56670892, 0.43329108],
       [0.95836048, 0.04163952],
       [0.72788496, 0.27211504],
       [0.96461659, 0.03538341],
       [0.97089835, 0.02910165],
       [0.94228278, 0.05771722],
       [0.96003127, 0.03996873],
       [0.89376229, 0.10623771],
       [0.9553517 , 0.0446483 ],
       [0.89061997, 0.10938003],
       [0.91594362, 0.08405638],
       [0.85419091, 0.14580909],
       [0.88363175, 0.11636825],
       [0.35921022, 0.64078978],
       [0.87777543, 0.12222457],
       [0.87791064, 0.12208936],
       [0.88898607, 0.11101393],
       [0.77522319, 0.22477681],
       [0.96790138, 0.03209862],
       [0.71648251, 0.28351749],
       [0.67010162, 0.32989838],
       [0.81031699, 0.18968301],
       [0.9841009 , 0.0158991 ],
       [0.92530704, 0.07469296],
       [0.74126115, 0.25873885],
       [0.86365498, 0.13634502],
       [0.98791947, 0.01208053],
       [0.50146034, 0.49853966],
       [0.93666304, 0.06333696],
       [0.99323659, 0.00676341],
       [0.74587258, 0.25412742],
       [0.91203644, 0.08796356],
       [0.91507272, 0.08492728],
       [0.34603137, 0.65396863],
       [0.50176737, 0.49823263],
       [0.83196717, 0.16803283],
       [0.94208651, 0.05791349],
       [0.94437101, 0.05562899],
       [0.34470338, 0.65529662],
       [0.92728117, 0.07271883],
       [0.4142127 , 0.5857873 ],
       [0.43606152, 0.56393848],
       [0.91703721, 0.08296279],
       [0.85108007, 0.14891993],
       [0.9029902 , 0.0970098 ],
       [0.75703289, 0.24296711],
       [0.92667147, 0.07332853],
       [0.63853713, 0.36146287],
       [0.70279814, 0.29720186],
       [0.86046308, 0.13953692],
       [0.94137862, 0.05862138],
       [0.89624438, 0.10375562],
       [0.55811069, 0.44188931],
       [0.52971329, 0.47028671],
       [0.74636886, 0.25363114],
       [0.94104886, 0.05895114],
       [0.54700296, 0.45299704],
       [0.83977935, 0.16022065],
       [0.92676569, 0.07323431],
       [0.86807656, 0.13192344],
       [0.41396839, 0.58603161],
       [0.90240115, 0.09759885],
       [0.98176267, 0.01823733],
       [0.7513749 , 0.2486251 ],
       [0.23567733, 0.76432267],
       [0.8355888 , 0.1644112 ],
       [0.9000673 , 0.0999327 ],
       [0.78243679, 0.21756321],
       [0.37682728, 0.62317272],
       [0.89010559, 0.10989441],
       [0.85864074, 0.14135926],
       [0.94404304, 0.05595696],
       [0.76609189, 0.23390811],
       [0.94360973, 0.05639027],
       [0.96266483, 0.03733517],
       [0.75292501, 0.24707499],
       [0.95590836, 0.04409164],
       [0.93994444, 0.06005556],
       [0.55214963, 0.44785037],
       [0.93912382, 0.06087618],
       [0.97853774, 0.02146226],
       [0.96643194, 0.03356806],
       [0.86990396, 0.13009604],
       [0.85923214, 0.14076786],
       [0.53903862, 0.46096138],
       [0.96731037, 0.03268963],
       [0.84008329, 0.15991671],
       [0.75342517, 0.24657483],
       [0.94941817, 0.05058183],
       [0.85231366, 0.14768634],
       [0.78178104, 0.21821896],
       [0.96003175, 0.03996825],
       [0.24118921, 0.75881079],
       [0.57247641, 0.42752359],
       [0.95679488, 0.04320512],
       [0.70059246, 0.29940754],
       [0.58972184, 0.41027816],
       [0.92703306, 0.07296694],
       [0.70577705, 0.29422295],
       [0.65836853, 0.34163147],
       [0.58981747, 0.41018253],
       [0.84826411, 0.15173589],
       [0.94034822, 0.05965178],
       [0.94885416, 0.05114584],
       [0.82993607, 0.17006393],
       [0.90328496, 0.09671504],
       [0.88199393, 0.11800607],
       [0.91697313, 0.08302687],
       [0.95678443, 0.04321557],
       [0.95507715, 0.04492285],
       [0.47648644, 0.52351356],
       [0.67301909, 0.32698091],
       [0.85065372, 0.14934628],
       [0.70519342, 0.29480658],
       [0.73230439, 0.26769561],
       [0.80065556, 0.19934444],
       [0.81256845, 0.18743155],
       [0.84177094, 0.15822906],
       [0.75094399, 0.24905601],
       [0.96523577, 0.03476423]])

In [63]:
logistic_model.classes_

array([1, 2], dtype=int64)

In [64]:
y_pred_protected_group_age_credresult_1.transpose()[0].mean()

0.7990745747156986

In [65]:
y_pred_non_protected_group_age_credresult_1 = logistic_model.predict_proba(non_protected_group_age_credresult_1_df)

In [66]:
y_pred_non_protected_group_age_credresult_1.transpose()[0].mean()

0.7584885338793296