In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [58]:
cols = ['status', 'duration', 'credit_hist', 'purpose', 'credit_amt', 'savings', 'employment', 'installment_rate', 'personal_status', 'debtors', 'residencesince', 'property', 'age', 'install_plans', 'housing', 'existing_credits', 'job', 'maintenance_paying_people', 'telephone', 'foreign_worker', 'result']

In [59]:
df = pd.read_table('german.data', names=cols, sep=" ", index_col=False)

In [60]:
df.head()

,status,duration,credit_hist,purpose,credit_amt,savings,employment,installment_rate,personal_status,debtors,...,property,age,install_plans,housing,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [61]:
def preprocess_german(df): 
    df['status'] = df['status'].map({'A11': 0, 'A12': 1, 'A13': 2, 'A14': 3}).astype(int)
    df['credit_hist'] = df['credit_hist'].map({'A34': 0, 'A33': 1, 'A32': 2, 'A31': 3, 'A30': 4}).astype(int)
    df.loc[(df['credit_amt'] <= 2000), 'credit_amt'] = 0
    df.loc[(df['credit_amt'] > 2000) & (df['credit_amt'] <= 5000), 'credit_amt'] = 1
    df.loc[(df['credit_amt'] > 5000), 'credit_amt'] = 2   
    df.loc[(df['duration'] <= 12), 'duration'] = 0
    df.loc[(df['duration'] > 12) & (df['duration'] <= 24), 'duration'] = 1
    df.loc[(df['duration'] > 24) & (df['duration'] <= 36), 'duration'] = 2
    df.loc[(df['duration'] > 36), 'duration'] = 3
    df['age'] = df['age'].apply(lambda x : 1 if x >= 45 else 0) # 1 if old, 0 if young
    df['savings'] = df['savings'].map({'A61': 0, 'A62': 1, 'A63': 2, 'A64': 3, 'A65': 4}).astype(int)
    df['employment'] = df['employment'].map({'A71': 0, 'A72': 1, 'A73': 2, 'A74': 3, 'A75': 4}).astype(int)    
    df['gender'] = df['personal_status'].map({'A91': 1, 'A92': 0, 'A93': 1, 'A94': 1, 'A95': 0}).astype(int)
    df['debtors'] = df['debtors'].map({'A101': 0, 'A102': 1, 'A103': 2}).astype(int)
    df['property'] = df['property'].map({'A121': 3, 'A122': 2, 'A123': 1, 'A124': 0}).astype(int)        
    df['install_plans'] = df['install_plans'].map({'A141': 1, 'A142': 1, 'A143': 0}).astype(int)
    df['job'] = df['job'].map({'A171': 0, 'A172': 1, 'A173': 2, 'A174': 3}).astype(int)    
    df['telephone'] = df['telephone'].map({'A191': 0, 'A192': 1}).astype(int)
    df['foreign_worker'] = df['foreign_worker'].map({'A201': 1, 'A202': 0}).astype(int)
    pd.get_dummies(df, columns=['purpose', 'housing'], drop_first=True)
    
    return df

In [62]:
X = preprocess_german(df);

In [63]:
df.head()

,status,duration,credit_hist,purpose,credit_amt,savings,employment,installment_rate,personal_status,debtors,...,age,install_plans,housing,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
0,0,0,0,A43,0,4,4,4,A93,0,...,1,0,A152,2,2,1,1,1,1,1
1,1,3,2,A43,2,0,2,2,A92,0,...,0,0,A152,1,2,1,0,1,2,0
2,3,0,0,A46,1,0,3,2,A93,0,...,1,0,A152,1,1,2,0,1,1,1
3,0,3,2,A42,2,0,3,2,A93,2,...,1,0,A153,1,2,2,0,1,1,1
4,0,1,1,A40,1,0,2,3,A93,0,...,1,0,A153,2,2,2,0,1,2,1

In [64]:
df = df.drop(["purpose", "housing"], axis=1)

In [65]:
df = df.drop(["personal_status"], axis=1)

In [66]:
df.columns

Index(['status', 'duration', 'credit_hist', 'credit_amt', 'savings',
       'employment', 'installment_rate', 'debtors', 'residencesince',
       'property', 'age', 'install_plans', 'existing_credits', 'job',
       'maintenance_paying_people', 'telephone', 'foreign_worker', 'result',
       'gender'],
      dtype='object')

In [67]:
X = df[['status', 'duration', 'credit_hist', 'credit_amt', 'savings',
       'employment', 'installment_rate', 'debtors', 'residencesince',
       'property', 'age', 'install_plans', 'existing_credits', 'job',
       'maintenance_paying_people', 'telephone', 'foreign_worker',
       'gender']]

In [68]:
y = df[["result"]]

In [69]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=15)

In [70]:
x_train.columns

Index(['status', 'duration', 'credit_hist', 'credit_amt', 'savings',
       'employment', 'installment_rate', 'debtors', 'residencesince',
       'property', 'age', 'install_plans', 'existing_credits', 'job',
       'maintenance_paying_people', 'telephone', 'foreign_worker', 'gender'],
      dtype='object')

In [71]:
df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
0,0,0,0,0,4,4,4,0,4,3,1,0,2,2,1,1,1,1,1
1,1,3,2,2,0,2,2,0,2,3,0,0,1,2,1,0,1,2,0
2,3,0,0,1,0,3,2,0,3,3,1,0,1,1,2,0,1,1,1
3,0,3,2,2,0,3,2,2,4,2,1,0,1,2,2,0,1,1,1
4,0,1,1,1,0,2,3,0,4,0,1,0,2,2,2,0,1,2,1

In [72]:
logistic_model = LogisticRegression()

In [73]:
logistic_model = LogisticRegression()

In [75]:
y.head()

   result
0       1
1       2
2       1
3       1
4       2

In [76]:
x_train

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,gender
677,1,3,2,2,1,2,2,0,2,1,0,0,1,2,1,0,1,1
134,3,3,2,2,1,3,2,0,4,3,0,0,1,2,1,1,1,0
18,1,1,2,2,0,4,4,0,2,0,0,0,1,3,1,1,1,0
703,1,2,1,1,1,4,4,0,2,2,0,1,2,2,1,0,1,1
628,3,3,0,1,2,2,4,0,4,3,0,0,2,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,1,3,2,2,0,2,2,0,2,1,0,0,1,2,1,1,1,1
645,3,2,1,2,4,1,4,0,4,1,0,0,2,2,1,1,1,1
908,3,1,1,1,0,1,1,0,2,2,1,0,2,1,1,0,1,0
757,2,1,0,0,4,2,3,0,4,0,0,0,2,2,1,1,1,1
456,0,0,0,1,0,2,2,0,2,3,0,0,2,2,2,0,1,1

In [77]:
logistic_model.fit(x_train, y_train.values.ravel())

LogisticRegression()

In [78]:
y_pred = logistic_model.predict(x_test)

In [79]:
y_pred_prob = logistic_model.predict_proba(x_test)

In [80]:
y_pred_prob

array([[0.61641611, 0.38358389],
       [0.237293  , 0.762707  ],
       [0.95622377, 0.04377623],
       [0.78665571, 0.21334429],
       [0.73189391, 0.26810609],
       [0.90555302, 0.09444698],
       [0.78783284, 0.21216716],
       [0.13637803, 0.86362197],
       [0.37521792, 0.62478208],
       [0.27861568, 0.72138432],
       [0.69567144, 0.30432856],
       [0.89493247, 0.10506753],
       [0.26069436, 0.73930564],
       [0.51426348, 0.48573652],
       [0.50148944, 0.49851056],
       [0.85694778, 0.14305222],
       [0.85877304, 0.14122696],
       [0.64707801, 0.35292199],
       [0.74533553, 0.25466447],
       [0.95668641, 0.04331359],
       [0.29850067, 0.70149933],
       [0.88256718, 0.11743282],
       [0.54034283, 0.45965717],
       [0.52914067, 0.47085933],
       [0.86669026, 0.13330974],
       [0.94225034, 0.05774966],
       [0.76066589, 0.23933411],
       [0.885076  , 0.114924  ],
       [0.94984739, 0.05015261],
       [0.69228306, 0.30771694],
       [0.91460908, 0.08539092],
       [0.89547565, 0.10452435],
       [0.81045016, 0.18954984],
       [0.78879252, 0.21120748],
       [0.87937076, 0.12062924],
       [0.4598218 , 0.5401782 ],
       [0.52185236, 0.47814764],
       [0.89290439, 0.10709561],
       [0.47815421, 0.52184579],
       [0.82359971, 0.17640029],
       [0.60974463, 0.39025537],
       [0.76796072, 0.23203928],
       [0.31937884, 0.68062116],
       [0.86827641, 0.13172359],
       [0.19409131, 0.80590869],
       [0.93683578, 0.06316422],
       [0.28840725, 0.71159275],
       [0.93981039, 0.06018961],
       [0.55410783, 0.44589217],
       [0.24013725, 0.75986275],
       [0.82097874, 0.17902126],
       [0.94212483, 0.05787517],
       [0.85741109, 0.14258891],
       [0.87304376, 0.12695624],
       [0.7059767 , 0.2940233 ],
       [0.78286852, 0.21713148],
       [0.4646501 , 0.5353499 ],
       [0.84136461, 0.15863539],
       [0.83044698, 0.16955302],
       [0.44921268, 0.55078732],
       [0.8551977 , 0.1448023 ],
       [0.92563572, 0.07436428],
       [0.40799187, 0.59200813],
       [0.94845838, 0.05154162],
       [0.95843574, 0.04156426],
       [0.95724473, 0.04275527],
       [0.6532448 , 0.3467552 ],
       [0.74365827, 0.25634173],
       [0.54496444, 0.45503556],
       [0.27406924, 0.72593076],
       [0.81422273, 0.18577727],
       [0.41987939, 0.58012061],
       [0.94429689, 0.05570311],
       [0.92381299, 0.07618701],
       [0.59475939, 0.40524061],
       [0.67338175, 0.32661825],
       [0.96827148, 0.03172852],
       [0.78524641, 0.21475359],
       [0.31218481, 0.68781519],
       [0.31610375, 0.68389625],
       [0.29017379, 0.70982621],
       [0.28318993, 0.71681007],
       [0.618902  , 0.381098  ],
       [0.36056576, 0.63943424],
       [0.8439265 , 0.1560735 ],
       [0.78583309, 0.21416691],
       [0.79817006, 0.20182994],
       [0.96313022, 0.03686978],
       [0.61987093, 0.38012907],
       [0.76716656, 0.23283344],
       [0.26725913, 0.73274087],
       [0.18995077, 0.81004923],
       [0.6002899 , 0.3997101 ],
       [0.9535068 , 0.0464932 ],
       [0.46566403, 0.53433597],
       [0.39071351, 0.60928649],
       [0.55291406, 0.44708594],
       [0.93728891, 0.06271109],
       [0.41677959, 0.58322041],
       [0.7427628 , 0.2572372 ],
       [0.52916669, 0.47083331],
       [0.87041682, 0.12958318],
       [0.76901573, 0.23098427],
       [0.35932215, 0.64067785],
       [0.31346214, 0.68653786],
       [0.92587789, 0.07412211],
       [0.53115481, 0.46884519],
       [0.664041  , 0.335959  ],
       [0.89196978, 0.10803022],
       [0.80991087, 0.19008913],
       [0.94709236, 0.05290764],
       [0.69869249, 0.30130751],
       [0.85303217, 0.14696783],
       [0.85581353, 0.14418647],
       [0.59660929, 0.40339071],
       [0.64139756, 0.35860244],
       [0.94304051, 0.05695949],
       [0.96365626, 0.03634374],
       [0.5087377 , 0.4912623 ],
       [0.55259913, 0.44740087],
       [0.78079007, 0.21920993],
       [0.96094684, 0.03905316],
       [0.86254135, 0.13745865],
       [0.82802257, 0.17197743],
       [0.52417369, 0.47582631],
       [0.26039572, 0.73960428],
       [0.68605579, 0.31394421],
       [0.82949594, 0.17050406],
       [0.88448192, 0.11551808],
       [0.82968701, 0.17031299],
       [0.36821385, 0.63178615],
       [0.19152812, 0.80847188],
       [0.53563858, 0.46436142],
       [0.9794494 , 0.0205506 ],
       [0.93492415, 0.06507585],
       [0.80089468, 0.19910532],
       [0.89030876, 0.10969124],
       [0.79777949, 0.20222051],
       [0.89297448, 0.10702552],
       [0.77687635, 0.22312365],
       [0.63777113, 0.36222887],
       [0.83476999, 0.16523001],
       [0.38901178, 0.61098822],
       [0.8520208 , 0.1479792 ],
       [0.942657  , 0.057343  ],
       [0.75984093, 0.24015907],
       [0.54351649, 0.45648351],
       [0.4803856 , 0.5196144 ],
       [0.80224101, 0.19775899],
       [0.88285652, 0.11714348],
       [0.4054758 , 0.5945242 ],
       [0.9456162 , 0.0543838 ],
       [0.61579441, 0.38420559],
       [0.79053328, 0.20946672],
       [0.90552871, 0.09447129],
       [0.83424618, 0.16575382],
       [0.45493704, 0.54506296],
       [0.92840061, 0.07159939],
       [0.30095577, 0.69904423],
       [0.44720061, 0.55279939],
       [0.79181294, 0.20818706],
       [0.86204132, 0.13795868],
       [0.96157227, 0.03842773],
       [0.54327732, 0.45672268],
       [0.40679452, 0.59320548],
       [0.93017514, 0.06982486],
       [0.63598382, 0.36401618],
       [0.86177817, 0.13822183],
       [0.53458469, 0.46541531],
       [0.91737649, 0.08262351],
       [0.85696811, 0.14303189],
       [0.91440092, 0.08559908],
       [0.64492862, 0.35507138],
       [0.96760695, 0.03239305],
       [0.66255809, 0.33744191],
       [0.85046731, 0.14953269],
       [0.74159708, 0.25840292],
       [0.81017288, 0.18982712],
       [0.82898443, 0.17101557],
       [0.96810926, 0.03189074],
       [0.54109496, 0.45890504],
       [0.20447054, 0.79552946],
       [0.32336327, 0.67663673],
       [0.95262688, 0.04737312],
       [0.75688198, 0.24311802],
       [0.8815207 , 0.1184793 ],
       [0.78029194, 0.21970806],
       [0.86888252, 0.13111748],
       [0.69577698, 0.30422302],
       [0.66987888, 0.33012112],
       [0.6818144 , 0.3181856 ],
       [0.85275909, 0.14724091],
       [0.84449369, 0.15550631],
       [0.84287395, 0.15712605],
       [0.64052732, 0.35947268],
       [0.88713201, 0.11286799],
       [0.90846398, 0.09153602],
       [0.84740312, 0.15259688],
       [0.74176513, 0.25823487],
       [0.92883286, 0.07116714]])

In [81]:
accuracy_score(y_test, y_pred)

0.745

In [82]:
x_test.iloc[0]

status                       0
duration                     1
credit_hist                  0
credit_amt                   0
savings                      0
employment                   4
installment_rate             4
debtors                      0
residencesince               3
property                     1
age                          0
install_plans                0
existing_credits             2
job                          2
maintenance_paying_people    1
telephone                    1
foreign_worker               1
gender                       1
Name: 825, dtype: int64

In [84]:
groups_age =  df.groupby(df['age'])

In [85]:
protected_group_age_df = groups_age.get_group(1)

In [86]:
protected_group_age_df.iloc[1]
# According to the result it shows that the division is done correctly as age is coming as 1 for protected group

status                       3
duration                     0
credit_hist                  0
credit_amt                   1
savings                      0
employment                   3
installment_rate             2
debtors                      0
residencesince               3
property                     3
age                          1
install_plans                0
existing_credits             1
job                          1
maintenance_paying_people    2
telephone                    0
foreign_worker               1
result                       1
gender                       1
Name: 2, dtype: int64

In [87]:
non_protected_group_age_df = groups_age.get_group(0)

In [88]:
non_protected_group_age_df.iloc[1]
# According to the result it shows that the division is done correctly as age is coming as 0 for non-protected group

status                       3
duration                     2
credit_hist                  2
credit_amt                   2
savings                      4
employment                   2
installment_rate             2
debtors                      0
residencesince               4
property                     0
age                          0
install_plans                0
existing_credits             1
job                          1
maintenance_paying_people    2
telephone                    1
foreign_worker               1
result                       1
gender                       1
Name: 5, dtype: int64

In [89]:
y_pred = logistic_model.predict(x_test)

In [90]:
y_pred

array([1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1,
       2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)

In [91]:
# There are various fairness metrics defined in the 'Fairness Definitions Explained' paper based on the predicted probabilities and actual outcome

# 1. Test fairness -> P(Y=1|S=s, G=m) = P(Y=1|S=s, G=f), which can be used for age(protected and non-protected classes)
# 2. Well-calibration -> P(Y=1|S=s, G=m) = P(Y=1|S=s, G=f) = s, which can be used for age(protected and non-protected classes)
# 3. Balance for positive class -> E(S|Y=1,G=m) = E(S|Y=1,G=f), which can be used for age(protected and non-protected classes)
# 4. Balance for negative class -> E(S|Y=0,G=m) = E(S|Y=0,G=f), which can be used for age(protected and non-protected classes)

In [92]:
# Now, we need to find the P(Å· = 1 | y = 1, G = 0) and P(Å· = 1 | y = 1, G = 1) as G is the sensitive attribute here

In [93]:
# Find the average y_pred_proba where the actual outcome Y = 1 for the divided groups

In [94]:
non_protected_group_age_df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
1,1,3,2,2,0,2,2,0,2,3,0,0,1,2,1,0,1,2,0
5,3,2,2,2,4,2,2,0,4,0,0,0,1,1,2,1,1,1,1
7,1,2,2,2,0,2,2,0,2,1,0,0,1,3,1,1,1,1,1
9,1,2,0,2,0,0,4,0,2,1,0,0,2,3,1,0,1,2,1
10,1,0,2,0,0,1,3,0,1,1,0,0,1,2,1,0,1,2,0

In [95]:
non_protected_group_age_credresult_1_df = non_protected_group_age_df.groupby(non_protected_group_age_df['result']).get_group(1)

In [96]:
non_protected_group_age_credresult_1_df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
5,3,2,2,2,4,2,2,0,4,0,0,0,1,1,2,1,1,1,1
7,1,2,2,2,0,2,2,0,2,1,0,0,1,3,1,1,1,1,1
12,1,0,2,0,0,2,1,0,1,1,0,0,1,2,1,1,1,1,0
14,0,1,2,0,0,2,2,0,4,1,0,0,1,2,1,0,1,1,0
17,0,2,4,2,4,1,2,0,3,1,0,1,3,2,1,0,1,1,1

In [97]:
#Drop the result column as the logistic regression model will accept 18 columns as input.
non_protected_group_age_credresult_1_df = non_protected_group_age_credresult_1_df.drop(["result"], axis=1)

In [98]:
# Need to find the predictive probability for the dataframe and then finally find the average
y_pred_non_protected_group_age_credresult_1 = logistic_model.predict(non_protected_group_age_credresult_1_df)

In [99]:
non_protected_group_age_credresult_1_df

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,gender
5,3,2,2,2,4,2,2,0,4,0,0,0,1,1,2,1,1,1
7,1,2,2,2,0,2,2,0,2,1,0,0,1,3,1,1,1,1
12,1,0,2,0,0,2,1,0,1,1,0,0,1,2,1,1,1,0
14,0,1,2,0,0,2,2,0,4,1,0,0,1,2,1,0,1,0
17,0,2,4,2,4,1,2,0,3,1,0,1,3,2,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,0,2,2,1,0,0,4,0,3,2,0,0,1,3,1,1,1,1
995,3,0,2,0,0,3,3,0,4,3,0,0,1,1,1,0,1,0
996,0,2,2,1,0,2,4,0,4,2,0,0,1,3,1,1,1,1
997,3,0,2,0,0,4,4,0,4,1,0,0,1,2,1,0,1,1
999,1,3,0,1,1,0,3,0,4,1,0,0,1,2,1,0,1,1

In [100]:
y_pred_non_protected_group_age_credresult_1

array([1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2],
      dtype=int64)

In [101]:
#avergae predicted probability came out to be 0.879781 for non protected group

In [102]:
protected_group_age_df.head()

,status,duration,credit_hist,credit_amt,savings,employment,installment_rate,debtors,residencesince,property,age,install_plans,existing_credits,job,maintenance_paying_people,telephone,foreign_worker,result,gender
0,0,0,0,0,4,4,4,0,4,3,1,0,2,2,1,1,1,1,1
2,3,0,0,1,0,3,2,0,3,3,1,0,1,1,2,0,1,1,1
3,0,3,2,2,0,3,2,2,4,2,1,0,1,2,2,0,1,1,1
4,0,1,1,1,0,2,3,0,4,0,1,0,2,2,2,0,1,2,1
6,3,1,2,1,2,4,3,0,4,2,1,0,1,2,1,0,1,1,1

In [103]:
protected_group_age_credresult_1_df = protected_group_age_df.groupby(protected_group_age_df['result']).get_group(1)

In [104]:
#Drop the result column as the logistic regression model will accept 18 columns as input.
protected_group_age_credresult_1_df = protected_group_age_credresult_1_df.drop(["result"], axis=1)

In [105]:
# Need to find the predict probability for the dataframe and then finally find the average
y_pred_protected_group_age_credresult_1 = logistic_model.predict(protected_group_age_credresult_1_df)

In [106]:
y_pred_protected_group_age_credresult_1

array([1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [107]:
#avergae predicted probability came out to be 0.92053 for protected group

In [108]:
# Need to find the predict probability for the dataframe and then finally find the average
y_pred_protected_group_age_credresult_1 = logistic_model.predict_proba(protected_group_age_credresult_1_df)

In [109]:
y_pred_protected_group_age_credresult_1

array([[0.90745819, 0.09254181],
       [0.95231141, 0.04768859],
       [0.41987939, 0.58012061],
       [0.92296287, 0.07703713],
       [0.96827148, 0.03172852],
       [0.96214966, 0.03785034],
       [0.89865273, 0.10134727],
       [0.8170071 , 0.1829929 ],
       [0.97369167, 0.02630833],
       [0.95878593, 0.04121407],
       [0.83260629, 0.16739371],
       [0.98236382, 0.01763618],
       [0.57639591, 0.42360409],
       [0.61706136, 0.38293864],
       [0.83044698, 0.16955302],
       [0.90119233, 0.09880767],
       [0.664041  , 0.335959  ],
       [0.67756585, 0.32243415],
       [0.95262688, 0.04737312],
       [0.76716656, 0.23283344],
       [0.89493247, 0.10506753],
       [0.96017966, 0.03982034],
       [0.95685294, 0.04314706],
       [0.88176087, 0.11823913],
       [0.63052876, 0.36947124],
       [0.92381299, 0.07618701],
       [0.94545962, 0.05454038],
       [0.91818632, 0.08181368],
       [0.3930579 , 0.6069421 ],
       [0.56975585, 0.43024415],
       [0.76522053, 0.23477947],
       [0.63650522, 0.36349478],
       [0.96318136, 0.03681864],
       [0.69563094, 0.30436906],
       [0.96495964, 0.03504036],
       [0.97500753, 0.02499247],
       [0.94984739, 0.05015261],
       [0.96043416, 0.03956584],
       [0.88736624, 0.11263376],
       [0.94680167, 0.05319833],
       [0.869491  , 0.130509  ],
       [0.930074  , 0.069926  ],
       [0.81281751, 0.18718249],
       [0.85875052, 0.14124948],
       [0.35283967, 0.64716033],
       [0.87380673, 0.12619327],
       [0.89885106, 0.10114894],
       [0.87875527, 0.12124473],
       [0.76518872, 0.23481128],
       [0.96982052, 0.03017948],
       [0.75105759, 0.24894241],
       [0.66289515, 0.33710485],
       [0.82116131, 0.17883869],
       [0.98541353, 0.01458647],
       [0.9123477 , 0.0876523 ],
       [0.78079007, 0.21920993],
       [0.86817049, 0.13182951],
       [0.9901885 , 0.0098115 ],
       [0.52362325, 0.47637675],
       [0.93353325, 0.06646675],
       [0.99542433, 0.00457567],
       [0.71064931, 0.28935069],
       [0.93704948, 0.06295052],
       [0.88689497, 0.11310503],
       [0.29656739, 0.70343261],
       [0.54518913, 0.45481087],
       [0.83193998, 0.16806002],
       [0.94374234, 0.05625766],
       [0.94779166, 0.05220834],
       [0.29017379, 0.70982621],
       [0.9456162 , 0.0543838 ],
       [0.4325134 , 0.5674866 ],
       [0.4888383 , 0.5111617 ],
       [0.91737649, 0.08262351],
       [0.83895445, 0.16104555],
       [0.92148928, 0.07851072],
       [0.77623914, 0.22376086],
       [0.90552871, 0.09447129],
       [0.63226012, 0.36773988],
       [0.66987888, 0.33012112],
       [0.86177817, 0.13822183],
       [0.94429689, 0.05570311],
       [0.89653155, 0.10346845],
       [0.60485896, 0.39514104],
       [0.54790794, 0.45209206],
       [0.7561887 , 0.2438113 ],
       [0.93841077, 0.06158923],
       [0.58451082, 0.41548918],
       [0.83681885, 0.16318115],
       [0.93928137, 0.06071863],
       [0.85362917, 0.14637083],
       [0.47980913, 0.52019087],
       [0.88252924, 0.11747076],
       [0.9838132 , 0.0161868 ],
       [0.78821249, 0.21178751],
       [0.24013725, 0.75986275],
       [0.84405463, 0.15594537],
       [0.88713201, 0.11286799],
       [0.80089468, 0.19910532],
       [0.43444123, 0.56555877],
       [0.85057636, 0.14942364],
       [0.84349935, 0.15650065],
       [0.94391223, 0.05608777],
       [0.73593714, 0.26406286],
       [0.95858373, 0.04141627],
       [0.96795957, 0.03204043],
       [0.71725306, 0.28274694],
       [0.95116502, 0.04883498],
       [0.94076054, 0.05923946],
       [0.61050782, 0.38949218],
       [0.94133386, 0.05866614],
       [0.980827  , 0.019173  ],
       [0.97391032, 0.02608968],
       [0.89285847, 0.10714153],
       [0.82802257, 0.17197743],
       [0.51426348, 0.48573652],
       [0.9745419 , 0.0254581 ],
       [0.8760781 , 0.1239219 ],
       [0.74159708, 0.25840292],
       [0.95445064, 0.04554936],
       [0.82687224, 0.17312776],
       [0.84464711, 0.15535289],
       [0.96810926, 0.03189074],
       [0.26600716, 0.73399284],
       [0.55542959, 0.44457041],
       [0.96195493, 0.03804507],
       [0.73236358, 0.26763642],
       [0.65932163, 0.34067837],
       [0.93728891, 0.06271109],
       [0.73142253, 0.26857747],
       [0.7059767 , 0.2940233 ],
       [0.63598382, 0.36401618],
       [0.84822832, 0.15177168],
       [0.96151835, 0.03848165],
       [0.94522847, 0.05477153],
       [0.74533553, 0.25466447],
       [0.91366255, 0.08633745],
       [0.85618953, 0.14381047],
       [0.92342123, 0.07657877],
       [0.96251746, 0.03748254],
       [0.95398325, 0.04601675],
       [0.43241136, 0.56758864],
       [0.74176513, 0.25823487],
       [0.87120526, 0.12879474],
       [0.74070606, 0.25929394],
       [0.75444942, 0.24555058],
       [0.746044  , 0.253956  ],
       [0.82556697, 0.17443303],
       [0.82968701, 0.17031299],
       [0.74676115, 0.25323885],
       [0.96436056, 0.03563944]])

In [110]:
logistic_model.classes_

array([1, 2], dtype=int64)

In [115]:
y_pred_protected_group_age_credresult_1.transpose()[0].mean()

0.805612629449424

In [116]:
y_pred_non_protected_group_age_credresult_1 = logistic_model.predict_proba(non_protected_group_age_credresult_1_df)

In [117]:
y_pred_non_protected_group_age_credresult_1.transpose()[0].mean()

0.7551598695019986